html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: forestgreen;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.GridViewStyle {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .GridViewStyle td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .GridViewStyle th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .GridViewStyle .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .GridViewStyle .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .GridViewStyle .pgr table {
            margin: 5px 0;
        }

        .GridViewStyle .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .GridViewStyle .pgr a {
            color: #666;
            text-decoration: none;
        }

            .GridViewStyle .pgr a:hover {
                color: #000;
                text-decoration: none;
            }